{
  "openapi": "3.0.0",
  "info": {
    "title": "Zoopla Scraper",
    "version": "1.0.0",
    "description": "Zoopla Scraper gets you Zoopla data ⚡ fast, 🎯 100% accurate and 🔍 ridiculously detailed. Use your 1,000 free calls to your heart's content ❤️",
    "termsOfService": "https://www.omkar.cloud/legal/terms",
    "contact": {
      "name": "Omkar Cloud",
      "url": "https://www.omkar.cloud",
      "email": "chetan@omkar.cloud"
    },
    "x-long-description": "Zoopla uses **Cloudflare** bot protection to stop you from getting its data.\n\n**Zoopla Scraper** by Omkar Cloud beats it and gets you the Zoopla data you want — clean JSON, in real time.\n\nNo selectors, no proxies, no data cleaning. Just the data — so you can successfully complete your project.\n\n**1,000 free calls every month, no credit card.** Use them to your heart's content ❤️\n\nNeed the full Zoopla dataset, a bigger plan, or some help with your project? Just message us — we reply ✅ within 1 working day.\n\n[![Message Us on WhatsApp about Zoopla Scraper](https://raw.githubusercontent.com/omkarcloud/assets/master/images/whatsapp-us.png)](https://api.whatsapp.com/send?phone=918178804274&text=I%20need%20help%20with%20using%20the%20Zoopla%20Scraper%20API.)\n\n[![Ask Us on Email about Zoopla Scraper](https://raw.githubusercontent.com/omkarcloud/assets/master/images/ask-on-email.png)](mailto:happy.to.help@omkar.cloud?subject=Help%20with%20Zoopla%20Scraper%20API&body=I%20need%20help%20with%20using%20the%20Zoopla%20Scraper%20API.)\n\n\n👉 [Start with Free Plan](https://rapidapi.com/Chetan11dev/api/zoopla-scraper/pricing) — 1,000 free calls/month",
    "x-website": "https://www.omkar.cloud/tools/zoopla-scraper/playground",
    "x-public": true,
    "x-version-lifecycle": "active"
  },
  "servers": [
    {
      "url": "https://api.omkar.cloud/rpi/zoopla"
    }
  ],
  "paths": {
    "/properties/search-sale": {
      "get": {
        "summary": "Search Properties For Sale",
        "description": "Live UK homes for sale (25/page) with price, bedroom, type and location filters; agent name + phone, photos, link.",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "UK location to search — a town, area, postcode or outcode, a `geo_identifier` slug from `/locations/auto-complete`, or a pasted zoopla.co.uk search-results URL (its embedded filters are applied automatically).\n\n**Examples:**\n- Location: `London`\n- Slug: `london/notting-hill`\n- Link: `https://www.zoopla.co.uk/for-sale/property/london/?beds_min=3`",
            "schema": {
              "type": "string"
            },
            "example": "London"
          },
          {
            "name": "price_min",
            "in": "query",
            "required": false,
            "description": "Minimum price (GBP). For rentals this is the monthly rent.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "required": false,
            "description": "Maximum price (GBP). For rentals this is the monthly rent.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "beds_min",
            "in": "query",
            "required": false,
            "description": "Minimum number of bedrooms.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 15
            }
          },
          {
            "name": "beds_max",
            "in": "query",
            "required": false,
            "description": "Maximum number of bedrooms.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 15
            }
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "description": "Filter by property type.\n\n**Allowed values:** `detached`, `semi_detached`, `terraced`, `flats`, `bungalow`, `park_home`, `farms_land`, `detached_bungalow`, `semi_detached_bungalow`, `terraced_bungalow`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "added",
            "in": "query",
            "required": false,
            "description": "Only properties added within this window.\n\n**Allowed values:** `24_hours`, `3_days`, `7_days`, `14_days`, `30_days`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "Free-text keywords to match in the listing (e.g. `garden`, `garage`, `chain free`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in miles around the location (0–40).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 40
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Result ordering.\n\n**Default:** `newest`\n\n**Allowed values:** `newest`, `highest_price`, `lowest_price`, `most_reduced`, `most_popular`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page (25 per page, up to 40 pages).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 40
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "count": 16636,
                  "per_page": 25,
                  "current_page": 1,
                  "total_pages": 40,
                  "next": "https://zoopla-scraper.omkar.cloud/zoopla/properties/search-sale?location=london&price_min=300000&price_max=500000&beds_min=2&sort=newest&page=2",
                  "previous": null,
                  "search": {
                    "section": "for-sale",
                    "location": "london",
                    "area_name": "London",
                    "link": "https://www.zoopla.co.uk/for-sale/property/london/?price_min=300000&price_max=500000&beds_min=2&results_sort=newest_listings"
                  },
                  "results": [
                    {
                      "id": "74079940",
                      "title": "2 bed flat for sale",
                      "address": "Church Walk, London NW2",
                      "link": "https://www.zoopla.co.uk/for-sale/details/74079940/",
                      "summary": "A charming two-bedroom ground floor flat situated on the peaceful and picturesque Church Walk, NW2. Spanning over 600 sq ft, the property offers ...",
                      "property_type": "flat",
                      "bedrooms": 2,
                      "bathrooms": 1,
                      "receptions": 1,
                      "floor_area": {
                        "size_sqft": 646,
                        "source": "structured_data"
                      },
                      "price": {
                        "amount": 425000,
                        "currency": "GBP",
                        "label": "£425,000",
                        "short_label": "£425k",
                        "qualifier": null,
                        "alternative_frequency_label": null,
                        "is_price_drop": null
                      },
                      "listed_on": "2026-08-27",
                      "available_from": null,
                      "flag": "Just added",
                      "tags": [
                        "Leasehold"
                      ],
                      "highlights": [
                        {
                          "description": null,
                          "label": "Open Plan"
                        }
                      ],
                      "is_premium": true,
                      "is_under_offer": false,
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/2ceaffdf3328428915bf741ae20a48ea0d3af506.jpg",
                        "main_image_caption": "Picture No. 15",
                        "gallery": [
                          "https://lid.zoocdn.com/645/430/3f7f8c22b9a649f75d561e6881d4abec55f430fe.jpg",
                          "https://lid.zoocdn.com/645/430/10ba9635f7fc17105479790b3adbd9deff50e1eb.jpg",
                          "https://lid.zoocdn.com/645/430/2bc5fe9f4346c64c2512557274c166531b6beaa2.jpg",
                          "https://lid.zoocdn.com/645/430/d4c36a76fed2877f45d85f1a7ba8e9969b7604c3.jpg",
                          "https://lid.zoocdn.com/645/430/2f0b52fe90e0febb00671ef80e79e21b32b94f58.jpg"
                        ],
                        "image_count": 6,
                        "floor_plan_count": 1,
                        "video_count": 0
                      },
                      "agent": {
                        "branch_id": 419,
                        "name": "Chancellors - Hampstead",
                        "phone": "020 3478 2899",
                        "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(487497).png",
                        "link": "https://www.zoopla.co.uk/find-agents/branch/chancellors-hampstead-london-419/"
                      },
                      "transports": []
                    },
                    {
                      "id": "74079741",
                      "title": "2 bed flat for sale",
                      "address": "Minnow Apartments, Sherwood Close, West Ealing W13",
                      "link": "https://www.zoopla.co.uk/for-sale/details/74079741/",
                      "summary": "A Fantastic Opportunity to Purchase a Two Bedroom Apartment on a Shared Ownership (Part Buy/Part Rent) Basis",
                      "property_type": "flat",
                      "bedrooms": 2,
                      "bathrooms": 1,
                      "receptions": 1,
                      "floor_area": {
                        "size_sqft": 753,
                        "source": "comparables_epc"
                      },
                      "price": {
                        "amount": 315000,
                        "currency": "GBP",
                        "label": "£315,000",
                        "short_label": "£315k",
                        "qualifier": null,
                        "alternative_frequency_label": null,
                        "is_price_drop": null
                      },
                      "listed_on": "2026-08-27",
                      "available_from": null,
                      "flag": "Just added",
                      "tags": [
                        "Shared ownership",
                        "Leasehold"
                      ],
                      "highlights": [],
                      "is_premium": false,
                      "is_under_offer": false,
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/c25ff0eaf670d5eb0835a362cfff3da959a74268.jpg",
                        "main_image_caption": null,
                        "gallery": [
                          "https://lid.zoocdn.com/645/430/3c2d5205898079b017611eb226ab1164254baf32.jpg",
                          "https://lid.zoocdn.com/645/430/f7806a719bda1ebd0b9de28cd61fb7407bb23e02.jpg",
                          "https://lid.zoocdn.com/645/430/9fd70a6144f8685671bd513a7720a4e61ce31c3c.jpg",
                          "https://lid.zoocdn.com/645/430/4491ed938b06010137a8941efb1f4bd1f5922f22.jpg",
                          "https://lid.zoocdn.com/645/430/a0d467cdc3fa28e11c62ce314246bfd382543190.jpg",
                          "https://lid.zoocdn.com/645/430/611f9eeb21b24d75e691caa3d9721ed34d44f9a1.jpg",
                          "https://lid.zoocdn.com/645/430/f6f84692eab2809da7a14ce52262dd97823e8b6c.jpg",
                          "https://lid.zoocdn.com/645/430/0fc50b147ff68b87ad49530921377a7105412abc.jpg"
                        ],
                        "image_count": 9,
                        "floor_plan_count": 1,
                        "video_count": 0
                      },
                      "agent": {
                        "branch_id": 7666,
                        "name": "Urban Moves",
                        "phone": "020 3641 8096",
                        "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(154059).png",
                        "link": "https://www.zoopla.co.uk/find-agents/branch/urban-moves-surrey-7666/"
                      },
                      "transports": []
                    },
                    {
                      "id": "74079671",
                      "title": "2 bed flat for sale",
                      "address": "Brassey Square, London SW11",
                      "link": "https://www.zoopla.co.uk/for-sale/details/74079671/",
                      "summary": "A newly renovated two double bedroom flat",
                      "property_type": "flat",
                      "bedrooms": 2,
                      "bathrooms": 1,
                      "receptions": 1,
                      "floor_area": {
                        "size_sqft": 655,
                        "source": "structured_data"
                      },
                      "price": {
                        "amount": 450000,
                        "currency": "GBP",
                        "label": "£450,000",
                        "short_label": "£450k",
                        "qualifier": "Guide price",
                        "alternative_frequency_label": null,
                        "is_price_drop": null
                      },
                      "listed_on": "2026-08-27",
                      "available_from": null,
                      "flag": "Just added",
                      "tags": [
                        "Leasehold"
                      ],
                      "highlights": [],
                      "is_premium": false,
                      "is_under_offer": false,
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/4c20d0d5fa626d7e3ec864bea882440e4060786a.jpg",
                        "main_image_caption": null,
                        "gallery": [
                          "https://lid.zoocdn.com/645/430/a646bd31a0830821d200c95b00d51258251b9af6.jpg",
                          "https://lid.zoocdn.com/645/430/7562982e779252bef71cca5d1fd76905a10f6a96.jpg",
                          "https://lid.zoocdn.com/645/430/7711d49b8fa69dd4e1f485ac7cf6e216e4723a0d.jpg",
                          "https://lid.zoocdn.com/645/430/afe12cbcfeadb8e832ff9aa67bf394b4564d84e4.jpg",
                          "https://lid.zoocdn.com/645/430/a853b4b8147976d8de6ddf36fc9f4f6b0277095a.jpg"
                        ],
                        "image_count": 6,
                        "floor_plan_count": 1,
                        "video_count": 0
                      },
                      "agent": {
                        "branch_id": 88060,
                        "name": "Harding Green, London & Country",
                        "phone": "020 8115 5566",
                        "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(591712).png",
                        "link": "https://www.zoopla.co.uk/find-agents/branch/harding-green-london-and-country-london-88060/"
                      },
                      "transports": []
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "Search Properties For Sale",
        "tags": [
          "Zoopla"
        ]
      }
    },
    "/locations/auto-complete": {
      "get": {
        "summary": "Location Autocomplete",
        "description": "UK place suggestions for a partial query; each carries a geo_identifier the search and house-prices endpoints accept.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Partial location text to autocomplete.",
            "schema": {
              "type": "string"
            },
            "example": "London"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "query": "manchester",
                  "count": 10,
                  "results": [
                    {
                      "geo_identifier": "manchester",
                      "label": "Manchester, Greater Manchester",
                      "sub_label": null
                    },
                    {
                      "geo_identifier": "manchester-city-centre",
                      "label": "Manchester City Centre, Greater Manchester",
                      "sub_label": null
                    },
                    {
                      "geo_identifier": "schools/secondary/manchester-islamic-high-school-for-girls",
                      "label": "Manchester Islamic High School for Girls, Greater Manchester, M21",
                      "sub_label": null
                    },
                    {
                      "geo_identifier": "manchester-airport",
                      "label": "Manchester Airport, Greater Manchester",
                      "sub_label": null
                    },
                    {
                      "geo_identifier": "schools/primary/manchester-junior-girls-school",
                      "label": "Manchester Junior Girls' School, Greater Manchester, M7",
                      "sub_label": null
                    },
                    {
                      "geo_identifier": "schools/secondary/manchester-academy",
                      "label": "Manchester Academy, Essex, M14",
                      "sub_label": null
                    },
                    {
                      "geo_identifier": "station/rail/manchester-airport",
                      "label": "Manchester Airport Station, Greater Manchester",
                      "sub_label": null
                    },
                    {
                      "geo_identifier": "schools/secondary/manchester-communication-academy",
                      "label": "Manchester Communication Academy, Greater Manchester, M40",
                      "sub_label": null
                    },
                    {
                      "geo_identifier": "schools/secondary/manchester-creative-learning-academy",
                      "label": "Manchester Creative Learning Academy, Greater Manchester, M9",
                      "sub_label": null
                    },
                    {
                      "geo_identifier": "schools/secondary/manchester-creative-and-media-academy-for-boys",
                      "label": "Manchester Creative and Media Academy for Boys, Greater Manchester, M9",
                      "sub_label": null
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "Location Autocomplete",
        "tags": [
          "Zoopla"
        ]
      }
    },
    "/properties/search-rent": {
      "get": {
        "summary": "Search Properties To Rent",
        "description": "Live UK rentals (25/page) with the for-sale filters plus furnished_state; rent shown per month and per week.",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "UK location to search — a town, area, postcode or outcode, a `geo_identifier` slug from `/locations/auto-complete`, or a pasted zoopla.co.uk search-results URL (its embedded filters are applied automatically).\n\n**Examples:**\n- Location: `London`\n- Slug: `london/notting-hill`\n- Link: `https://www.zoopla.co.uk/for-sale/property/london/?beds_min=3`",
            "schema": {
              "type": "string"
            },
            "example": "London"
          },
          {
            "name": "price_min",
            "in": "query",
            "required": false,
            "description": "Minimum price (GBP). For rentals this is the monthly rent.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "required": false,
            "description": "Maximum price (GBP). For rentals this is the monthly rent.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "beds_min",
            "in": "query",
            "required": false,
            "description": "Minimum number of bedrooms.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 15
            }
          },
          {
            "name": "beds_max",
            "in": "query",
            "required": false,
            "description": "Maximum number of bedrooms.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 15
            }
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "description": "Filter by property type.\n\n**Allowed values:** `detached`, `semi_detached`, `terraced`, `flats`, `bungalow`, `park_home`, `farms_land`, `detached_bungalow`, `semi_detached_bungalow`, `terraced_bungalow`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "furnished_state",
            "in": "query",
            "required": false,
            "description": "Filter by furnishing.\n\n**Allowed values:** `furnished`, `part_furnished`, `unfurnished`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "added",
            "in": "query",
            "required": false,
            "description": "Only properties added within this window.\n\n**Allowed values:** `24_hours`, `3_days`, `7_days`, `14_days`, `30_days`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "Free-text keywords to match in the listing (e.g. `garden`, `garage`, `chain free`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in miles around the location (0–40).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 40
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Result ordering.\n\n**Default:** `newest`\n\n**Allowed values:** `newest`, `highest_price`, `lowest_price`, `most_reduced`, `most_popular`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page (25 per page, up to 40 pages).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 40
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "count": 2012,
                  "per_page": 25,
                  "current_page": 1,
                  "total_pages": 40,
                  "next": "https://zoopla-scraper.omkar.cloud/zoopla/properties/search-rent?location=manchester&furnished_state=furnished&page=2",
                  "previous": null,
                  "search": {
                    "section": "to-rent",
                    "location": "manchester",
                    "area_name": "Manchester",
                    "link": "https://www.zoopla.co.uk/to-rent/property/manchester/?furnished_state=furnished"
                  },
                  "results": [
                    {
                      "id": "74079669",
                      "title": "2 bed flat to rent",
                      "address": "Angel Gardens M4",
                      "link": "https://www.zoopla.co.uk/to-rent/details/74079669/",
                      "summary": "15% rental discount! Welcome to Angel Gardens, where city living meets elevated lifestyle in the heart of Manchester. Just moments from the ...",
                      "property_type": "flat",
                      "bedrooms": 2,
                      "bathrooms": 2,
                      "receptions": null,
                      "floor_area": {
                        "size_sqft": null,
                        "source": null
                      },
                      "price": {
                        "amount": 1689,
                        "currency": "GBP",
                        "label": "£1,689 pcm",
                        "short_label": "£1689",
                        "qualifier": null,
                        "alternative_frequency_label": "£389.77 pw",
                        "is_price_drop": null
                      },
                      "listed_on": "2026-08-27",
                      "available_from": "immediately",
                      "flag": "Just added",
                      "tags": [
                        "Pets allowed"
                      ],
                      "highlights": [],
                      "is_premium": false,
                      "is_under_offer": false,
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/7b70112eb2d31648b58b469c5f3d6a2fc313d41d.png",
                        "main_image_caption": null,
                        "gallery": [
                          "https://lid.zoocdn.com/645/430/f5c361836ca489e2e436ef73db4828546c30f56d.png",
                          "https://lid.zoocdn.com/645/430/ab9d542700a67832e62c8948ca9c3caa00465be1.png",
                          "https://lid.zoocdn.com/645/430/b5acad3c3d6da2c93d7b3de83563f136860e1042.png",
                          "https://lid.zoocdn.com/645/430/ba5b7e85d79c88bfd394441dde901da3792ae11c.png",
                          "https://lid.zoocdn.com/645/430/bf87d2f40259771e47287ff45099180407ddbcfb.png",
                          "https://lid.zoocdn.com/645/430/db8b3a81c894756a67f606ec4942ee17c866eb7a.png",
                          "https://lid.zoocdn.com/645/430/07ec048e4b6588ace575624b61ce59abc0c6c019.png",
                          "https://lid.zoocdn.com/645/430/42e303782725237bbb708c58444e3e1cb1ed8d1b.png",
                          "https://lid.zoocdn.com/645/430/ff29496d40d4dc1bbb3fc8739668549c0e117f46.png",
                          "https://lid.zoocdn.com/645/430/288e9be6a1a9ce6a1f9ce80121d4189580d63466.png",
                          "https://lid.zoocdn.com/645/430/9829c7270ccf9096e48fac393a90d73ca2815cb2.png",
                          "https://lid.zoocdn.com/645/430/a0246eab94b22c8153061ca7aba4de3818f2b6a8.png",
                          "https://lid.zoocdn.com/645/430/155f2937aaa0a5ed8443b8ec1b616b306caf76c7.png",
                          "https://lid.zoocdn.com/645/430/9519ee070692ed98b201a8dc61f7195dbb61010f.png",
                          "https://lid.zoocdn.com/645/430/900533584843ac90aa36b11741a304bdae00e340.png",
                          "https://lid.zoocdn.com/645/430/b8a7e3d7a2312a2de07acf38ca62f56ce317ca70.jpg",
                          "https://lid.zoocdn.com/645/430/858cf20922bdf01847ca5eb16c09ce443a75c99b.png",
                          "https://lid.zoocdn.com/645/430/2b5476c69516e63cc4cb3ae75936755ee2d774df.png",
                          "https://lid.zoocdn.com/645/430/79b89701bc1f1e2042b48b696677a44e57a1c18c.png"
                        ],
                        "image_count": 20,
                        "floor_plan_count": 1,
                        "video_count": 0
                      },
                      "agent": {
                        "branch_id": 83458,
                        "name": "Home-Made",
                        "phone": "020 8033 3965",
                        "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(633914).png",
                        "link": "https://www.zoopla.co.uk/find-agents/branch/home-made-london-83458/"
                      },
                      "transports": []
                    },
                    {
                      "id": "74079659",
                      "title": "Studio to rent",
                      "address": "Clay, Salford Quays M50",
                      "link": "https://www.zoopla.co.uk/to-rent/details/74079659/",
                      "summary": "Welcome to Clay’s Anchorage, a premium canalside development in the heart of Salford Quays, offering a modern, vibrant lifestyle for those ...",
                      "property_type": "studio",
                      "bedrooms": null,
                      "bathrooms": 1,
                      "receptions": null,
                      "floor_area": {
                        "size_sqft": null,
                        "source": null
                      },
                      "price": {
                        "amount": 1105,
                        "currency": "GBP",
                        "label": "£1,105 pcm",
                        "short_label": "£1105",
                        "qualifier": null,
                        "alternative_frequency_label": "£255 pw",
                        "is_price_drop": null
                      },
                      "listed_on": "2026-08-27",
                      "available_from": "immediately",
                      "flag": "Just added",
                      "tags": [],
                      "highlights": [],
                      "is_premium": false,
                      "is_under_offer": false,
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/625103910cfdbcc873f1a4041bd86a86fa430e19.jpg",
                        "main_image_caption": null,
                        "gallery": [
                          "https://lid.zoocdn.com/645/430/c0bed9eb68878b944a1f4bc85eac165b97764348.png",
                          "https://lid.zoocdn.com/645/430/f52c018bdfa9be6b34b9435be554975458fdcbc3.jpg",
                          "https://lid.zoocdn.com/645/430/cb2b47f9ec36c49aa74a9395a201d0a3eacd8470.jpg",
                          "https://lid.zoocdn.com/645/430/57aed7cb0a20f7422ca0071876fc960a915607ad.png",
                          "https://lid.zoocdn.com/645/430/ca22b00809f26feaaec7ad46169fd3c6f8bd65f7.jpg",
                          "https://lid.zoocdn.com/645/430/0249a791fdd1b3bc64e98d0ff333c46ad01b0e3f.jpg",
                          "https://lid.zoocdn.com/645/430/9c11344851cf854bdd418e9bb0e7cb8225f555c7.jpg",
                          "https://lid.zoocdn.com/645/430/81cf7eb81cf34a4465b6cfbb499d417c99fa5cd0.png",
                          "https://lid.zoocdn.com/645/430/ee1490cd3c49487fee8811b40890f77f185e43bd.jpg",
                          "https://lid.zoocdn.com/645/430/dae03149dc777f31b0bd1b46bd88776fcaf6b193.jpg",
                          "https://lid.zoocdn.com/645/430/a5c735b581fa7aa65c37e79be2f425729079d27c.jpg",
                          "https://lid.zoocdn.com/645/430/a279b0ba583d28a7d06c32bd2c749b188014b9a5.jpg",
                          "https://lid.zoocdn.com/645/430/b2ba26fa9ef0e50b2670d86a515e0ff4423a6dec.jpg",
                          "https://lid.zoocdn.com/645/430/e114d76e2f0a36498af4c3f7bae28ed56abbf092.jpg",
                          "https://lid.zoocdn.com/645/430/708ac76cbd47e904692a6999fd5f431478d70677.jpg",
                          "https://lid.zoocdn.com/645/430/f34b120c0eb67562626ae8f38e42d570e91ffd6f.jpg",
                          "https://lid.zoocdn.com/645/430/bfb2bb860c1c10658f2f59985e85426bbf467194.jpg",
                          "https://lid.zoocdn.com/645/430/44eb2345be9640f99d64f10f42b8f9ccb3351252.png",
                          "https://lid.zoocdn.com/645/430/48a254cba3f76385c7de49e210bbbb5ca072021f.png",
                          "https://lid.zoocdn.com/645/430/996c240ede12526c4b96109caf9ef5571e7e2fff.png",
                          "https://lid.zoocdn.com/645/430/0fe97a0be13112901f88a31b5342d4eeb5906f57.png",
                          "https://lid.zoocdn.com/645/430/75edc8c7790bfa9d316624b13ceac7679f3d99d9.png",
                          "https://lid.zoocdn.com/645/430/3db5e4e88e73120624abe27d8805af6e17eac4d5.png",
                          "https://lid.zoocdn.com/645/430/cedf6b6540536449fbd651981bbca5002ad85bea.png"
                        ],
                        "image_count": 25,
                        "floor_plan_count": 1,
                        "video_count": 0
                      },
                      "agent": {
                        "branch_id": 83458,
                        "name": "Home-Made",
                        "phone": "020 8033 3965",
                        "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(633914).png",
                        "link": "https://www.zoopla.co.uk/find-agents/branch/home-made-london-83458/"
                      },
                      "transports": []
                    },
                    {
                      "id": "74079664",
                      "title": "2 bed flat to rent",
                      "address": "Vox, Trentham Street M15",
                      "link": "https://www.zoopla.co.uk/to-rent/details/74079664/",
                      "summary": "£500 amazon voucher and zero deposit options available Welcome to Vox, luxury apartments in Manchester's Cornbrook district. Vox blends ...",
                      "property_type": "flat",
                      "bedrooms": 2,
                      "bathrooms": 1,
                      "receptions": null,
                      "floor_area": {
                        "size_sqft": null,
                        "source": null
                      },
                      "price": {
                        "amount": 1540,
                        "currency": "GBP",
                        "label": "£1,540 pcm",
                        "short_label": "£1540",
                        "qualifier": null,
                        "alternative_frequency_label": "£355.38 pw",
                        "is_price_drop": null
                      },
                      "listed_on": "2026-08-27",
                      "available_from": "immediately",
                      "flag": "Just added",
                      "tags": [
                        "Pets allowed"
                      ],
                      "highlights": [],
                      "is_premium": false,
                      "is_under_offer": false,
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/9c91238ac4a209f007e29aeb0b6396a8ba32e45f.png",
                        "main_image_caption": null,
                        "gallery": [
                          "https://lid.zoocdn.com/645/430/2921bb7612755e897fc94eb91b0b70d59eeb0aff.png",
                          "https://lid.zoocdn.com/645/430/c2f4045d49b03cb27f31ef4fb7b7ba412cd89979.png",
                          "https://lid.zoocdn.com/645/430/7f47d434888adf448bea2881d1fe49732e861418.png",
                          "https://lid.zoocdn.com/645/430/993fba70aa06da9a5ce5d5113efc25be08041b54.png",
                          "https://lid.zoocdn.com/645/430/c52ddb954142fcc163ed453de1cd7b10604db9de.png",
                          "https://lid.zoocdn.com/645/430/616db57b00e4f93a806a70e6a60a22574ec3be51.png",
                          "https://lid.zoocdn.com/645/430/33e70722c1bc78ef3dd1c68bbd59de899cd5cf46.png",
                          "https://lid.zoocdn.com/645/430/20b0eed7aef031e055e3e99019a48d1047624c34.png",
                          "https://lid.zoocdn.com/645/430/5df5c25c3fb66b7d8d9f0a0b157045182518adb6.png",
                          "https://lid.zoocdn.com/645/430/dc085d7948d6cd47ff855d11b63d0d6474837aba.png",
                          "https://lid.zoocdn.com/645/430/033ddc3fb5fa212124b468f54be6c72a04407016.png",
                          "https://lid.zoocdn.com/645/430/4f1cf7a8a0d3cdb765f724a46306d4c3d8773676.png",
                          "https://lid.zoocdn.com/645/430/3eded361ae545ae13b2d88b7899b21e6448b3d78.png",
                          "https://lid.zoocdn.com/645/430/dfb9d9cdb9dafd5d974c6ca1dfb7eba979aa7a8a.png",
                          "https://lid.zoocdn.com/645/430/963afa00a1b8fbff090a80afe3909e67b2b100c7.png",
                          "https://lid.zoocdn.com/645/430/d73ea9d28119fa753dfb9e093865914956481644.png",
                          "https://lid.zoocdn.com/645/430/dc56d2fea0787e5e8838809c66de87122f6d02a4.png",
                          "https://lid.zoocdn.com/645/430/b1f92be6a9d6e2a07b4a3b1af998248a4ca3ab0d.png",
                          "https://lid.zoocdn.com/645/430/7b1129c26f7a5051b7e5d66f5bda696f31297e7d.png"
                        ],
                        "image_count": 20,
                        "floor_plan_count": 1,
                        "video_count": 0
                      },
                      "agent": {
                        "branch_id": 83458,
                        "name": "Home-Made",
                        "phone": "020 8033 3965",
                        "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(633914).png",
                        "link": "https://www.zoopla.co.uk/find-agents/branch/home-made-london-83458/"
                      },
                      "transports": []
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "Search Properties To Rent",
        "tags": [
          "Zoopla"
        ]
      }
    },
    "/properties/search-new-homes": {
      "get": {
        "summary": "Search New Homes",
        "description": "Search new-build UK homes (25 per page) with the same filters as for-sale.",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "UK location to search — a town, area, postcode or outcode, a `geo_identifier` slug from `/locations/auto-complete`, or a pasted zoopla.co.uk search-results URL (its embedded filters are applied automatically).\n\n**Examples:**\n- Location: `London`\n- Slug: `london/notting-hill`\n- Link: `https://www.zoopla.co.uk/for-sale/property/london/?beds_min=3`",
            "schema": {
              "type": "string"
            },
            "example": "London"
          },
          {
            "name": "price_min",
            "in": "query",
            "required": false,
            "description": "Minimum price (GBP). For rentals this is the monthly rent.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "required": false,
            "description": "Maximum price (GBP). For rentals this is the monthly rent.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "beds_min",
            "in": "query",
            "required": false,
            "description": "Minimum number of bedrooms.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 15
            }
          },
          {
            "name": "beds_max",
            "in": "query",
            "required": false,
            "description": "Maximum number of bedrooms.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 15
            }
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "description": "Filter by property type.\n\n**Allowed values:** `detached`, `semi_detached`, `terraced`, `flats`, `bungalow`, `park_home`, `farms_land`, `detached_bungalow`, `semi_detached_bungalow`, `terraced_bungalow`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "added",
            "in": "query",
            "required": false,
            "description": "Only properties added within this window.\n\n**Allowed values:** `24_hours`, `3_days`, `7_days`, `14_days`, `30_days`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "Free-text keywords to match in the listing (e.g. `garden`, `garage`, `chain free`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in miles around the location (0–40).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 40
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Result ordering.\n\n**Default:** `newest`\n\n**Allowed values:** `newest`, `highest_price`, `lowest_price`, `most_reduced`, `most_popular`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page (25 per page, up to 40 pages).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 40
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "count": 6667,
                  "per_page": 25,
                  "current_page": 1,
                  "total_pages": 40,
                  "next": "https://zoopla-scraper.omkar.cloud/zoopla/properties/search-new-homes?location=london&page=2",
                  "previous": null,
                  "search": {
                    "section": "new-homes",
                    "location": "london",
                    "area_name": "London",
                    "link": "https://www.zoopla.co.uk/new-homes/property/london/"
                  },
                  "results": [
                    {
                      "id": "74079630",
                      "title": "3 bed flat for sale",
                      "address": "\"Valence View - Plot 147\" at King Georges Gate, Bendon Valley, Garratt Lane, Earlsfield SW18",
                      "link": "https://www.zoopla.co.uk/new-homes/details/74079630/",
                      "summary": "£26,450 Stamp Duty Paid* and let us help you move to Earlsfield in time for Christmas. Positioned on the Wandsworth-Wimbledon border in sw London, ...",
                      "property_type": "flat",
                      "bedrooms": 3,
                      "bathrooms": null,
                      "receptions": 1,
                      "floor_area": {
                        "size_sqft": null,
                        "source": null
                      },
                      "price": {
                        "amount": 729000,
                        "currency": "GBP",
                        "label": "£729,000",
                        "short_label": "£729k",
                        "qualifier": null,
                        "alternative_frequency_label": null,
                        "is_price_drop": null
                      },
                      "listed_on": "2026-08-27",
                      "available_from": null,
                      "flag": "Just added",
                      "tags": [
                        "New home"
                      ],
                      "highlights": [],
                      "is_premium": true,
                      "is_under_offer": false,
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/554c616107dd923212c32a2b72ceb63f4f7355da.jpg",
                        "main_image_caption": "Sociable Open Plan Layout",
                        "gallery": [
                          "https://lid.zoocdn.com/645/430/c5cee65e62538231811a98b69b8a99dc426f8f37.jpg",
                          "https://lid.zoocdn.com/645/430/6326bc4df660a738f37b55c4b402e25dbcbe828c.jpg",
                          "https://lid.zoocdn.com/645/430/f1959947841e3dfaf7fd2834d4774e8528f70b89.jpg",
                          "https://lid.zoocdn.com/645/430/abeae7611cae928064e13a7e7a982d5cfe7b30d6.jpg",
                          "https://lid.zoocdn.com/645/430/13a339e4fe145915522119061404a0d2d237497e.jpg",
                          "https://lid.zoocdn.com/645/430/7ec3a9e74cd2e2e0d2721a202552beed33a7ad14.jpg",
                          "https://lid.zoocdn.com/645/430/d605d93f74391e1ced4e59d5df2fce2c66a96ecf.jpg",
                          "https://lid.zoocdn.com/645/430/31c11a8850ddb7fb795ab054dc732ff8427546bf.jpg",
                          "https://lid.zoocdn.com/645/430/d692bc7026f01a2fd8bddf4eb7d1c669e4c14636.jpg",
                          "https://lid.zoocdn.com/645/430/c7d9503771c7831f4f85dba8b9e23972e138ac44.jpg",
                          "https://lid.zoocdn.com/645/430/7045a12fbe0b2a73a4cda3e2fc73902e56d0b574.jpg",
                          "https://lid.zoocdn.com/645/430/3f1816e45767cbd804c16cbd841ce9980a0a6ae3.jpg",
                          "https://lid.zoocdn.com/645/430/292e968ee213e1e6c05d68d48a9c50578cc5122c.jpg"
                        ],
                        "image_count": 14,
                        "floor_plan_count": 2,
                        "video_count": 4
                      },
                      "agent": {
                        "branch_id": 158741,
                        "name": "Taylor Wimpey - King Georges Gate",
                        "phone": "020 3463 2620",
                        "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(746039).png",
                        "link": "https://www.zoopla.co.uk/new-homes/developers/branch/taylor-wimpey-king-georges-gate-earlsfield-158741/"
                      },
                      "transports": []
                    },
                    {
                      "id": "70854802",
                      "title": "3 bed flat for sale",
                      "address": "\"Tramways House D05 - Apartment 17\" at Rivermark, 57, Leven Road E14",
                      "link": "https://www.zoopla.co.uk/new-homes/details/70854802/",
                      "summary": "Live in this 6th floor, 3 bedroom apartment, boasting river & city views, part of a new destination in Poplar. Enjoy a co-working space & concierge.",
                      "property_type": "flat",
                      "bedrooms": 3,
                      "bathrooms": null,
                      "receptions": 1,
                      "floor_area": {
                        "size_sqft": null,
                        "source": null
                      },
                      "price": {
                        "amount": 710000,
                        "currency": "GBP",
                        "label": "£710,000",
                        "short_label": "£710k",
                        "qualifier": null,
                        "alternative_frequency_label": null,
                        "is_price_drop": null
                      },
                      "listed_on": "2026-08-27",
                      "available_from": null,
                      "flag": "Just added",
                      "tags": [
                        "New home"
                      ],
                      "highlights": [],
                      "is_premium": true,
                      "is_under_offer": false,
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/237d3ad7ca353fc564a1d66718781d6056170619.jpg",
                        "main_image_caption": "3 Distinctive Striking Towers Line The Banks Of The River Lea",
                        "gallery": [
                          "https://lid.zoocdn.com/645/430/b95cb95efc633808465d3d67539f1ada15a5d2af.jpg",
                          "https://lid.zoocdn.com/645/430/9f7bc00a34d407713fb22600e221b5e7f3220b64.jpg",
                          "https://lid.zoocdn.com/645/430/528d2aab9747941be3a889fc2501609162233c53.jpg",
                          "https://lid.zoocdn.com/645/430/31a115291f20a936a7d3657fbc682eb9a25d43d1.jpg",
                          "https://lid.zoocdn.com/645/430/340f21707edfc1946e7b2dd2065e1e020d551211.jpg",
                          "https://lid.zoocdn.com/645/430/883be3cf84829f6e76c975025893b217e4c70cf1.jpg",
                          "https://lid.zoocdn.com/645/430/d1c8e1e84a330539fe6e905108173fe7f0955bfb.jpg",
                          "https://lid.zoocdn.com/645/430/10dc7bd2e06cb8783519b2884b113c24d18c65e0.jpg",
                          "https://lid.zoocdn.com/645/430/604e8df10a528a8df381cd1021bda020ff68b5c2.jpg",
                          "https://lid.zoocdn.com/645/430/9e74d0b2e2f0ff8cf36574c3e70c05e8f145e1c2.jpg",
                          "https://lid.zoocdn.com/645/430/5ce9e849f9c47de899da5c365dfa8caa54083187.jpg",
                          "https://lid.zoocdn.com/645/430/f1646c20382de47ce952e0e4b6da65aec60c75a3.jpg"
                        ],
                        "image_count": 13,
                        "floor_plan_count": 2,
                        "video_count": 3
                      },
                      "agent": {
                        "branch_id": 163373,
                        "name": "Taylor Wimpey - Rivermark",
                        "phone": "020 4516 3987",
                        "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(746006).png",
                        "link": "https://www.zoopla.co.uk/new-homes/developers/branch/taylor-wimpey-rivermark-london-163373/"
                      },
                      "transports": []
                    },
                    {
                      "id": "73494395",
                      "title": "1 bed flat for sale",
                      "address": "\"1 Bed Block C - Plot 112\" at Hertford Mill Hackney Wick, Unit d.2, 79-85 Monier Road, Fish Island, Hackney Wick E3",
                      "link": "https://www.zoopla.co.uk/new-homes/details/73494395/",
                      "summary": "A brand new 1 bedroom apartment with a south east facing balcony located on the 2nd floor. Make your move to Hackney Wick. Boasting shared podium ...",
                      "property_type": "flat",
                      "bedrooms": 1,
                      "bathrooms": null,
                      "receptions": 1,
                      "floor_area": {
                        "size_sqft": null,
                        "source": null
                      },
                      "price": {
                        "amount": 425000,
                        "currency": "GBP",
                        "label": "£425,000",
                        "short_label": "£425k",
                        "qualifier": null,
                        "alternative_frequency_label": null,
                        "is_price_drop": null
                      },
                      "listed_on": "2026-08-27",
                      "available_from": null,
                      "flag": "Just added",
                      "tags": [
                        "New home"
                      ],
                      "highlights": [],
                      "is_premium": true,
                      "is_under_offer": false,
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/0bc91b20c551131a4a0ffd3d2c8c0951b8a3a08c.jpg",
                        "main_image_caption": "Floor To Ceiling Windows Flood The Open Plan Living Area With Natural Light",
                        "gallery": [
                          "https://lid.zoocdn.com/645/430/0602edf700ffd817930e2fb08d0a468314f91143.jpg",
                          "https://lid.zoocdn.com/645/430/266cf138bdc84a1625a72b84cdcda3daa14890d1.jpg",
                          "https://lid.zoocdn.com/645/430/921ac2dd92ec3ad4139085cf6bb0984b4425f9c9.jpg",
                          "https://lid.zoocdn.com/645/430/b3e32a7a16148db3db10f80edb45e2bc90a26974.jpg",
                          "https://lid.zoocdn.com/645/430/47963c3eea0a970fafc5e3018197f8d3b53b0e2d.jpg",
                          "https://lid.zoocdn.com/645/430/131dccd7cc76000f7e5588d9f8b52d3210620290.jpg",
                          "https://lid.zoocdn.com/645/430/60d923f7f4196c0bebb50e80029a27cd770a4706.jpg",
                          "https://lid.zoocdn.com/645/430/0f6866bcf48a04ad0cf7fb1bb0078001a3d62296.jpg",
                          "https://lid.zoocdn.com/645/430/97b721608bb64ea4ed0e5f62730041f37818368a.jpg",
                          "https://lid.zoocdn.com/645/430/c342d2455a436ab937152d5f0b496e3b52dc166c.jpg",
                          "https://lid.zoocdn.com/645/430/b91bbe927d8f8c0524a72f308900364a33364bcd.jpg",
                          "https://lid.zoocdn.com/645/430/a9aba8065f84c2e42d3579c04a39dad89eb56d43.jpg"
                        ],
                        "image_count": 13,
                        "floor_plan_count": 1,
                        "video_count": 3
                      },
                      "agent": {
                        "branch_id": 159721,
                        "name": "Taylor Wimpey - Hertford Mill",
                        "phone": "020 3551 7839",
                        "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(746006).png",
                        "link": "https://www.zoopla.co.uk/new-homes/developers/branch/taylor-wimpey-hertford-mill-hackney-159721/"
                      },
                      "transports": []
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "Search New Homes",
        "tags": [
          "Zoopla"
        ]
      }
    },
    "/properties/details": {
      "get": {
        "summary": "Get Property Details",
        "description": "One listing in full: price + history, description, features, tenure, EPC, floor area, stations, photos, agent phone.",
        "parameters": [
          {
            "name": "listing_id",
            "in": "query",
            "required": true,
            "description": "A Zoopla listing id (every search result carries it as `id`) or any zoopla.co.uk listing URL.\n\n**Examples:**\n- Id: `74017763`\n- Link: `https://www.zoopla.co.uk/for-sale/details/74017763/`",
            "schema": {
              "type": "string"
            },
            "example": "74017763"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "id": 74079940,
                  "title": "2 bed flat for sale",
                  "address": "Church Walk, London NW2",
                  "link": "https://www.zoopla.co.uk/for-sale/details/74079940/",
                  "section": "for-sale",
                  "category": "residential",
                  "property_type": "flat",
                  "status": {
                    "label": "Just added"
                  },
                  "condition": "pre-owned",
                  "published_at": "2026-08-27T07:42:54",
                  "description": "A charming two-bedroom ground floor flat situated on the peaceful and picturesque Church Walk, NW2. Spanning over 600 sq ft, the property offers two well-proportioned double bedrooms and the added benefit of its own private entrance.<br><br>Set on a quiet residential street directly opposite the beautiful grounds of the local church, the flat enjoys a tranquil setting while remaining within easy reach of the area’s excellent selection of shops, cafés, restaurants and transport links.<br><br>An ideal opportunity for first-time buyers, downsizers or investors seeking a well-located home with a wonderful balance of privacy, space and convenience.",
                  "features": [
                    "Own Entrance",
                    "Quiet Street",
                    "Over 600sqft of Internal Space",
                    "Ground Floor",
                    "Period Facade",
                    "Residents Parking"
                  ],
                  "highlights": [
                    {
                      "description": null,
                      "label": "Open Plan"
                    }
                  ],
                  "tags": [
                    "Leasehold"
                  ],
                  "bedrooms": 2,
                  "bathrooms": 1,
                  "living_rooms": 1,
                  "floor_area": {
                    "size_sqft": 646,
                    "source": "structured_data"
                  },
                  "price": {
                    "amount": 425000,
                    "currency": "GBP",
                    "label": "£425,000",
                    "qualifier": null,
                    "rent_frequency_label": null,
                    "alternative_frequency_price": null,
                    "price_per_floor_area": {
                      "internalValue": 658,
                      "label": "£658/sq. ft"
                    },
                    "is_auction": false
                  },
                  "price_history": [],
                  "tenure": "leasehold",
                  "is_chain_free": false,
                  "is_shared_ownership": false,
                  "is_retirement_home": false,
                  "furnished_state": null,
                  "location": {
                    "latitude": 51.561034,
                    "longitude": -0.197528,
                    "property_number_or_name": "2",
                    "street_name": "Church Walk",
                    "postcode": "NW2 2TJ",
                    "outcode": "NW2",
                    "town": "London",
                    "area": "London",
                    "county": "London",
                    "region": "London",
                    "country_code": "gb",
                    "uprn": "200228980"
                  },
                  "epc": {
                    "rating": "C",
                    "images": [
                      "https://lid.zoocdn.com/645/430/0ce4f1e84c5ea2db57e1316b2a288d6507fab676.png"
                    ],
                    "pdfs": null
                  },
                  "nearest_stations": [
                    {
                      "name": "Cricklewood",
                      "distance_miles": 0.7
                    },
                    {
                      "name": "Golders Green",
                      "distance_miles": 0.8
                    },
                    {
                      "name": "Hampstead",
                      "distance_miles": 0.9
                    },
                    {
                      "name": "West Hampstead Thameslink",
                      "distance_miles": 0.9
                    },
                    {
                      "name": "Finchley Road & Frognal",
                      "distance_miles": 1
                    },
                    {
                      "name": "West Hampstead",
                      "distance_miles": 1
                    }
                  ],
                  "property_info": [
                    {
                      "name": "Tenure",
                      "value": "Leasehold (111 years)"
                    },
                    {
                      "name": "Service charge",
                      "value": "£600 per year"
                    },
                    {
                      "name": "Council tax band",
                      "value": "A band has not yet been confirmed."
                    },
                    {
                      "name": "Ground rent",
                      "value": "£250"
                    },
                    {
                      "name": "Ground rent date of next review",
                      "value": null
                    },
                    {
                      "name": "Water",
                      "value": null
                    }
                  ],
                  "media": {
                    "images": [
                      "https://lid.zoocdn.com/645/430/2ceaffdf3328428915bf741ae20a48ea0d3af506.jpg",
                      "https://lid.zoocdn.com/645/430/3f7f8c22b9a649f75d561e6881d4abec55f430fe.jpg",
                      "https://lid.zoocdn.com/645/430/10ba9635f7fc17105479790b3adbd9deff50e1eb.jpg",
                      "https://lid.zoocdn.com/645/430/2bc5fe9f4346c64c2512557274c166531b6beaa2.jpg"
                    ],
                    "image_captions": [
                      "Picture No. 15",
                      "Picture No. 12",
                      "Picture No. 04",
                      "Picture No. 13"
                    ],
                    "floor_plans": [
                      "https://lid.zoocdn.com/645/430/78fc53a54cefcf9cc0228473edfdc1765c692443.jpg"
                    ],
                    "floor_plan_pdfs": null
                  },
                  "agent": {
                    "branch_id": 419,
                    "name": "Chancellors - Hampstead",
                    "brand_name": "Chancellors",
                    "company_id": 688,
                    "phone": "020 3478 2899",
                    "lettings_phone": "020 3463 0166",
                    "commercial_phone": null,
                    "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(487497).png",
                    "link": "https://www.zoopla.co.uk/find-agents/branch/chancellors-hampstead-london-419/",
                    "is_developer": false
                  }
                }
              }
            }
          }
        },
        "operationId": "Get Property Details",
        "tags": [
          "Zoopla"
        ]
      }
    },
    "/properties/agent-contact": {
      "get": {
        "summary": "Get Property Agent Contact",
        "description": "Estate agent contact for one listing: agent name, phone numbers, branch id + profile link, and the listing address.",
        "parameters": [
          {
            "name": "listing_id",
            "in": "query",
            "required": true,
            "description": "A Zoopla listing id (every search result carries it as `id`) or any zoopla.co.uk listing URL.\n\n**Examples:**\n- Id: `74017763`\n- Link: `https://www.zoopla.co.uk/for-sale/details/74017763/`",
            "schema": {
              "type": "string"
            },
            "example": "74017763"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "listing_id": 74079940,
                  "listing_link": "https://www.zoopla.co.uk/for-sale/details/74079940/",
                  "address": "Church Walk, London NW2",
                  "agent": {
                    "branch_id": 419,
                    "name": "Chancellors - Hampstead",
                    "brand_name": "Chancellors",
                    "company_id": 688,
                    "phone": "020 3478 2899",
                    "lettings_phone": "020 3463 0166",
                    "commercial_phone": null,
                    "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(487497).png",
                    "link": "https://www.zoopla.co.uk/find-agents/branch/chancellors-hampstead-london-419/",
                    "is_developer": false
                  }
                }
              }
            }
          }
        },
        "operationId": "Get Property Agent Contact",
        "tags": [
          "Zoopla"
        ]
      }
    },
    "/house-prices/search": {
      "get": {
        "summary": "Search Sold House Prices",
        "description": "HM Land Registry sold prices for an area (25/page): address, UPRN, last sale date + price and property attributes.",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "UK area, postcode or outcode to look up sold prices for (e.g. `london/croydon`, `nw3`, `cr2-9be`).",
            "schema": {
              "type": "string"
            },
            "example": "London/Croydon"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page (25 per page).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 400
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "count": 10000,
                  "per_page": 25,
                  "current_page": 2,
                  "total_pages": 400,
                  "next": "https://zoopla-scraper.omkar.cloud/zoopla/house-prices/search?location=london%2Fcroydon&page=3",
                  "previous": "https://zoopla-scraper.omkar.cloud/zoopla/house-prices/search?location=london%2Fcroydon",
                  "area": {
                    "name": "Croydon, London",
                    "short_name": "Croydon",
                    "slug": "london/croydon",
                    "description": "Croydon, London",
                    "county": "London",
                    "region": "London",
                    "town": "Croydon",
                    "outcode": null,
                    "sales_activity": {
                      "all": 424889,
                      "detached": 723228,
                      "flat": 265498,
                      "terraced": 419118,
                      "semi": 520708
                    }
                  },
                  "link": "https://www.zoopla.co.uk/house-prices/london/croydon/?pn=2",
                  "results": [
                    {
                      "uprn": "10094492293",
                      "address": "Flat 5, Rabenview House, 1A St James's Park, Croydon, CR0 2WS",
                      "postcode": "CR0 2WS",
                      "latitude": 51.3838359,
                      "longitude": -0.1012299,
                      "link": "https://www.zoopla.co.uk/property/uprn/10094492293/",
                      "last_sale": {
                        "date": "2026-05-08",
                        "price": 240000,
                        "currency": "GBP"
                      },
                      "attributes": {
                        "bedrooms": 1,
                        "bathrooms": 1,
                        "living_rooms": 1,
                        "property_type": "Purpose Built Flat",
                        "tenure": "Leasehold",
                        "floor_area_sq_m": 47
                      }
                    },
                    {
                      "uprn": "100020689061",
                      "address": "12 Wren Close, South Croydon, CR2 8SB",
                      "postcode": "CR2 8SB",
                      "latitude": 51.3452216,
                      "longitude": -0.0493081,
                      "link": "https://www.zoopla.co.uk/property/uprn/100020689061/",
                      "last_sale": {
                        "date": "2026-05-08",
                        "price": 550000,
                        "currency": "GBP"
                      },
                      "attributes": {
                        "bedrooms": 3,
                        "bathrooms": 2,
                        "living_rooms": 2,
                        "property_type": "Detached House",
                        "tenure": "Freehold",
                        "floor_area_sq_m": 110
                      }
                    },
                    {
                      "uprn": "100020648907",
                      "address": "34 Holland Road, London, SE25 5QT",
                      "postcode": "SE25 5QT",
                      "latitude": 51.3947076,
                      "longitude": -0.0692983,
                      "link": "https://www.zoopla.co.uk/property/uprn/100020648907/",
                      "last_sale": {
                        "date": "2026-05-07",
                        "price": 395000,
                        "currency": "GBP"
                      },
                      "attributes": {
                        "bedrooms": 2,
                        "bathrooms": 1,
                        "living_rooms": 1,
                        "property_type": "Mid Terrace House",
                        "tenure": "Freehold",
                        "floor_area_sq_m": 79
                      }
                    },
                    {
                      "uprn": "100020654048",
                      "address": "41 Percy Road, London, SE25 5NA",
                      "postcode": "SE25 5NA",
                      "latitude": 51.3933075,
                      "longitude": -0.0743741,
                      "link": "https://www.zoopla.co.uk/property/uprn/100020654048/",
                      "last_sale": {
                        "date": "2026-05-07",
                        "price": 477000,
                        "currency": "GBP"
                      },
                      "attributes": {
                        "bedrooms": 2,
                        "bathrooms": 1,
                        "living_rooms": 1,
                        "property_type": "Mid Terrace House",
                        "tenure": "Freehold",
                        "floor_area_sq_m": 91
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "Search Sold House Prices",
        "tags": [
          "Zoopla"
        ]
      }
    },
    "/house-prices/estimate": {
      "get": {
        "summary": "Get Property Value Estimate",
        "description": "Zoopla's value estimate for one home: sale estimate with range + confidence, rent estimate, attributes, live listings.",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "A full UK address including its postcode, or a bare UPRN (Unique Property Reference Number — every `/house-prices/search` record carries one).\n\n**Examples:**\n- Address: `45 Princes Avenue, South Croydon, CR2 9BE`\n- UPRN: `100020684061`",
            "schema": {
              "type": "string"
            },
            "example": "45 Princes Avenue, South Croydon, CR2 9BE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "query": {
                    "address": "45 Princes Avenue, South Croydon CR2 9BE",
                    "uprn": "100020684061"
                  },
                  "uprn": "100020684061",
                  "address": "45 Princes Avenue, South Croydon, CR2 9BE",
                  "postcode": "CR2 9BE",
                  "outcode": "CR2",
                  "country": "England",
                  "latitude": 51.3203197,
                  "longitude": -0.0666388,
                  "link": "https://www.zoopla.co.uk/property/uprn/100020684061/",
                  "attributes": {
                    "bedrooms": 4,
                    "bathrooms": 2,
                    "living_rooms": 2,
                    "property_type": "Semi-Detached House",
                    "tenure": "Freehold",
                    "floor_area_sq_m": 149,
                    "is_user_submitted": null
                  },
                  "energy_rating": "C",
                  "sale_estimate": {
                    "amount": 627000,
                    "lower": 596000,
                    "upper": 659000,
                    "currency": "GBP",
                    "confidence": "HIGH",
                    "value_change": {
                      "amount": 27000,
                      "percentage": 4.5,
                      "since_sale_date": "2026-05-28"
                    },
                    "updated_at": "2026-08-14"
                  },
                  "rent_estimate": {
                    "amount": 2100,
                    "lower": 1850,
                    "upper": 2350,
                    "currency": "GBP",
                    "frequency": "per_month"
                  },
                  "live_listings": [],
                  "other_matches": [
                    {
                      "address": "11 Princes Avenue, South Croydon, CR2 9BE",
                      "uprn": "100020684027",
                      "link": "https://www.zoopla.co.uk/property/uprn/100020684027/"
                    },
                    {
                      "address": "29 Princes Avenue, South Croydon, CR2 9BE",
                      "uprn": "100020684045",
                      "link": "https://www.zoopla.co.uk/property/uprn/100020684045/"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "Get Property Value Estimate",
        "tags": [
          "Zoopla"
        ]
      }
    },
    "/agents/search": {
      "get": {
        "summary": "Search Estate Agents",
        "description": "Estate agent branches for a location: id, name, address, phone, logo, listing count, avg asking price, weeks on market.",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "UK location to find estate agents in.",
            "schema": {
              "type": "string"
            },
            "example": "London"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "description": "Filter to sales or lettings agents.\n\n**Allowed values:** `sales`, `lettings`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "count": null,
                  "per_page": 25,
                  "current_page": 1,
                  "total_pages": 100,
                  "next": "https://zoopla-scraper.omkar.cloud/zoopla/agents/search?location=london&page=2",
                  "previous": null,
                  "search": {
                    "location": "london",
                    "resolved_location": "/find-agents/estate-agents/london/",
                    "search_type": "estate-agents",
                    "link": "https://www.zoopla.co.uk/find-agents/estate-agents/london/"
                  },
                  "results": [
                    {
                      "branch_id": 73315,
                      "name": "/Sinclair Hammelton - Hayes",
                      "link": "https://www.zoopla.co.uk/find-agents/branch/sinclair-hammelton-hayes-hayes-73315/",
                      "address": "57 Station Approach, Hayes, BR2 7EB",
                      "phone": "020 8115 4722",
                      "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(684007).png",
                      "is_featured": true,
                      "description": "When it comes to selling or letting your property, the staff at Sinclair Hammelton understand that no two clients are the same. Not everyone requires or indeed needs a high-profile marketing campaign, and so we listen carefully to each client's individual requirements. Some may want a wide-spread advertising campaign whilst others may prefer a more subtle approach, and this is where our extensive local knowledge comes into its own. We have many years of experience working in the Bromley Borough and over time have built up an enviable network of contacts - people who, through the years, have bought and let through us. We can often achieve a sale or let through a series of well-placed, discreet telephone calls, so that the whole transaction remains as low profile as possible. We advertise on all the major property internet portals, including Zoopla. You will find our adverts in all the main local newspapers, and we also advertise in national newspapers and quality lifestyle magazines where appropriate. Our distinctive offices, which are open seven days a week, are well located in prominent High Street locations at Bromley, Hayes and Petts Wood, which are bright, well lit window displays ensuring a continuous flow of customers. Our property details contain meticulous descriptions and floor plans, and are illustrated with professionally taken photographs to ensure each property benefits from the highest presentation standards.",
                      "listings_statistics": {
                        "residential": {
                          "for_sale": {
                            "available_listings": 30,
                            "average_asking_price": 924800,
                            "average_weeks_on_market": 18
                          },
                          "to_rent": null
                        }
                      }
                    },
                    {
                      "branch_id": 116171,
                      "name": "100 Key Properties",
                      "link": "https://www.zoopla.co.uk/find-agents/branch/100-key-properties-essex-116171/",
                      "address": "129a High Street, Hornchurch, Essex, RM11 1TX",
                      "phone": "020 3641 4369",
                      "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(671883).png",
                      "is_featured": true,
                      "description": "Placing client satisfaction at its heart, 100 Key Properties offers a bespoke, modern and creative service in residential sales, lettings, management and property search for the discerning homeowner, buyer, investor, landlord and tenant.",
                      "listings_statistics": {
                        "residential": {
                          "for_sale": {
                            "available_listings": 26,
                            "average_asking_price": 425999,
                            "average_weeks_on_market": null
                          },
                          "to_rent": {
                            "available_listings": 12,
                            "average_asking_price": 362,
                            "average_weeks_on_market": null
                          }
                        },
                        "commercial": {
                          "for_sale": {
                            "available_listings": 3,
                            "average_asking_price": 110000,
                            "average_weeks_on_market": 144
                          },
                          "to_rent": null
                        }
                      }
                    },
                    {
                      "branch_id": 58113,
                      "name": "1st Avenue",
                      "link": "https://www.zoopla.co.uk/find-agents/branch/1st-avenue-croydon-58113/",
                      "address": "5 Saffron Central Square, Croydon, CR0 2FT",
                      "phone": "020 3641 5087",
                      "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(291848).png",
                      "is_featured": true,
                      "description": "We sell and rent what we love and believe in. If you're looking to employ the services of a local agency with 15 years experience of buying, selling, renting and letting you could do worse than picking up the phone and giving us a call.It is a mandatory requirement for a Sales or Lettings Agent to be part of a redress scheme, we have membership with The Property Ombudsman (a government approved redress scheme).It is a mandatory requirement for a Lettings Agent to be part of a Client Money Protection scheme, we have membership with Propertymark (a government approved client money protection provider).",
                      "listings_statistics": {
                        "residential": {
                          "for_sale": {
                            "available_listings": 20,
                            "average_asking_price": 306750,
                            "average_weeks_on_market": 27
                          },
                          "to_rent": {
                            "available_listings": 31,
                            "average_asking_price": 384,
                            "average_weeks_on_market": 6
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "Search Estate Agents",
        "tags": [
          "Zoopla"
        ]
      }
    },
    "/agents/details": {
      "get": {
        "summary": "Get Estate Agent Details",
        "description": "Full profile of one agent branch: address, postcode, coordinates, phone, logo, memberships and listing statistics.",
        "parameters": [
          {
            "name": "branch_id",
            "in": "query",
            "required": true,
            "description": "A Zoopla estate-agent branch id (search results and listing responses carry it) or any zoopla.co.uk `/find-agents/branch/` URL.\n\n**Examples:**\n- Id: `73315`\n- Link: `https://www.zoopla.co.uk/find-agents/branch/sinclair-hammelton-hayes-hayes-73315/`",
            "schema": {
              "type": "string"
            },
            "example": "73315"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "branch_id": 73315,
                  "name": "/Sinclair Hammelton - Hayes",
                  "link": "https://www.zoopla.co.uk/find-agents/branch/sinclair-hammelton-hayes-hayes-73315/",
                  "address": "57 Station Approach, Hayes",
                  "postcode": "BR2 7EB",
                  "outcode": "BR2",
                  "latitude": 51.376397,
                  "longitude": 0.011508,
                  "phone": "020 8115 4722",
                  "logo": "https://st.zoocdn.com/zoopla_static_agent_logo_(684007).png",
                  "description": "When it comes to selling or letting your property, the staff at Sinclair Hammelton understand that no two clients are the same. Not everyone requires or indeed needs a high-profile marketing campaign, and so we listen carefully to each client's individual requirements. Some may want a wide-spread advertising campaign whilst others may prefer a more subtle approach, and this is where our extensive local knowledge comes into its own. \n\nWe have many years of experience working in the Bromley Borough and over time have built up an enviable network of contacts - people who, through the years, have bought and let through us. We can often achieve a sale or let through a series of well-placed, discreet telephone calls, so that the whole transaction remains as low profile as possible. We advertise on all the major property internet portals, including Zoopla. You will find our adverts in all the main local newspapers, and we also advertise in national newspapers and quality lifestyle magazines where appropriate. \n\nOur distinctive offices, which are open seven days a week, are well located in prominent High Street locations at Bromley, Hayes and Petts Wood, which are bright, well lit window displays ensuring a continuous flow of customers. Our property details contain meticulous descriptions and floor plans, and are illustrated with professionally taken photographs to ensure each property benefits from the highest presentation standards.",
                  "social_links": null,
                  "opening_times": null,
                  "memberships": [
                    {
                      "name": "The Property Ombudsman",
                      "link": "https://www.zoopla.co.uk/tips/agent-affiliation-tpo/"
                    }
                  ],
                  "listings_statistics": {
                    "residential": {
                      "for_sale": {
                        "available_listings": 30,
                        "average_asking_price": 924800,
                        "average_weeks_on_market": 18
                      },
                      "to_rent": null
                    },
                    "commercial": {
                      "for_sale": null,
                      "to_rent": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Get Estate Agent Details",
        "tags": [
          "Zoopla"
        ]
      }
    },
    "/agents/listings": {
      "get": {
        "summary": "Get Estate Agent Listings",
        "description": "A branch's live listings for one section: the branch's featured listings with the branch's total count for that section.",
        "parameters": [
          {
            "name": "branch_id",
            "in": "query",
            "required": true,
            "description": "A Zoopla estate-agent branch id (search results and listing responses carry it) or any zoopla.co.uk `/find-agents/branch/` URL.\n\n**Examples:**\n- Id: `73315`\n- Link: `https://www.zoopla.co.uk/find-agents/branch/sinclair-hammelton-hayes-hayes-73315/`",
            "schema": {
              "type": "string"
            },
            "example": "73315"
          },
          {
            "name": "section",
            "in": "query",
            "required": false,
            "description": "Which listings to return.\n\n**Default:** `for-sale`\n\n**Allowed values:** `for-sale`, `to-rent`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "branch_id": 73315,
                  "section": "for-sale",
                  "link": "https://www.zoopla.co.uk/find-agents/branch/sinclair-hammelton-hayes-hayes-73315/",
                  "total_results": 30,
                  "count": 10,
                  "results": [
                    {
                      "id": "74070066",
                      "title": "3 bed detached bungalow for sale",
                      "link": "https://www.zoopla.co.uk/for-sale/details/74070066/",
                      "summary": "Guide price: £775,000- £800,000. Situated on the sought-after Lakes Road in Keston, we are delighted to offer to the market this modern ...",
                      "price": {
                        "amount": 775000,
                        "currency": "GBP",
                        "label": "£775,000",
                        "qualifier": "Guide price"
                      },
                      "bedrooms": 3,
                      "bathrooms": 2,
                      "living_rooms": 2,
                      "listed_on": "2026-08-26",
                      "is_under_offer": false,
                      "phone": "020 8115 4722",
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/f96f9d75ea498676a3bd009eb21412f47ecca21c.jpg",
                        "main_image_caption": "1487392 (3).Jpg"
                      }
                    },
                    {
                      "id": "74041100",
                      "title": "5 bed semi-detached house for sale",
                      "link": "https://www.zoopla.co.uk/for-sale/details/74041100/",
                      "summary": "Sinclair Hammelton are delighted to offer this exceptionally well-presented halls-adjoining five/six-bedroom semi-detached family home providing ...",
                      "price": {
                        "amount": 1000000,
                        "currency": "GBP",
                        "label": "£1,000,000",
                        "qualifier": "Offers over"
                      },
                      "bedrooms": 5,
                      "bathrooms": 2,
                      "living_rooms": 2,
                      "listed_on": "2026-08-21",
                      "is_under_offer": false,
                      "phone": "020 8115 4722",
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/e29f644a631854b33675fe04e4595fe1aaf49ef2.jpg",
                        "main_image_caption": "Front (Exterior)"
                      }
                    },
                    {
                      "id": "73973570",
                      "title": "6 bed detached house for sale",
                      "link": "https://www.zoopla.co.uk/for-sale/details/73973570/",
                      "summary": "Set behind electric gates on a substantial plot, Tall Trees is an exceptional and highly versatile six-bedroom detached residence with an ...",
                      "price": {
                        "amount": 1750000,
                        "currency": "GBP",
                        "label": "£1,750,000",
                        "qualifier": null
                      },
                      "bedrooms": 6,
                      "bathrooms": 4,
                      "living_rooms": 4,
                      "listed_on": "2026-08-13",
                      "is_under_offer": false,
                      "phone": "020 8115 4722",
                      "media": {
                        "main_image": "https://lid.zoocdn.com/645/430/15a38c71e654265426dbd5b4475d4ffc7b571acf.jpg",
                        "main_image_caption": "Front (Exterior)"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "Get Estate Agent Listings",
        "tags": [
          "Zoopla"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Zoopla"
    }
  ],
  "x-documentation": {
    "readme": "# Zoopla Scraper\n\n**1,000 free calls every month, no credit card.** Use them to your heart's content ❤️\n\nThis is an excellent API made by Omkar Cloud, which is Rated Excellent — [4.7 based on 30 reviews on Trustpilot](https://www.trustpilot.com/review/omkar.cloud).\n\n## What can I get\n\n- 🏠 **Live UK listings for sale, to rent & new homes** — price, beds, floor area, photos, agent phone; 25 per page, filter & sort\n- 📋 **Full property details** — price history, tenure, EPC rating, floor plans, nearest stations, coordinates & UPRN\n- 💷 **Sold prices & valuations** — HM Land Registry sold records, plus Zoopla's sale & rent estimate for any UK address\n- 🧑‍💼 **Estate agent directory** — every branch in a location with phone, logo, listing stats and live listings\n\n## Why Zoopla Scraper\n\nMost other Zoopla APIs fail you in one of four ways:\n\n- 🗄️ **Inaccurate, cached, stale data**\n- 🧩 **Low-detail endpoints** — a few fields per call, never the full picture\n- 💸 **Pay more to get the same data**\n- 🪦 **Works today, breaks next month** — nobody maintains it\n\nZoopla Scraper is scraped live on every call, priced honestly, and actively maintained.\n\n## Example: A Full Zoopla Listing\n\n```json\n{\n  \"id\": 74017763,\n  \"title\": \"1 bed flat for sale\",\n  \"address\": \"Clifford Road, Walthamstow E17\",\n  \"link\": \"https://www.zoopla.co.uk/for-sale/details/74017763/\",\n  \"section\": \"for-sale\",\n  \"property_type\": \"flat\",\n  \"condition\": \"pre-owned\",\n  \"published_at\": \"2026-08-17T10:34:17\",\n  \"description\": \"A modern studio apartment offering over 30 square meters of living space with a private outdoor patio...\",\n  \"features\": [\"Studio Apartment\", \"Front Patio\", \"Modern Kitchen\"],\n  \"bedrooms\": 1,\n  \"bathrooms\": 1,\n  \"living_rooms\": 1,\n  \"floor_area\": { \"size_sqft\": 322, \"source\": \"comparables_epc\" },\n  \"price\": { \"amount\": 290000, \"currency\": \"GBP\", \"label\": \"£290,000\", \"is_auction\": false },\n  \"is_chain_free\": false,\n  \"is_shared_ownership\": false,\n  \"location\": {\n    \"latitude\": 51.592807,\n    \"longitude\": -0.007352,\n    \"street_name\": \"Clifford Road\",\n    \"postcode\": \"E17 4JE\",\n    \"outcode\": \"E17\",\n    \"town\": \"London\",\n    \"county\": \"London\",\n    \"country_code\": \"gb\",\n    \"uprn\": \"10093562790\"\n  },\n  \"epc\": { \"rating\": \"D\", \"images\": [\"https://lid.zoocdn.com/645/430/0ac3dfab8fadb0c67087e2da18c0211da6ff89fb.png\"] },\n  \"nearest_stations\": [\n    { \"name\": \"Wood Street\", \"distance_miles\": 0.5 },\n    { \"name\": \"Walthamstow Central\", \"distance_miles\": 0.9 }\n  ],\n  \"media\": {\n    \"images\": [\n      \"https://lid.zoocdn.com/645/430/cbca77e24b20cd7f7fb96afd70fe1ad54d585ca0.jpg\",\n      \"https://lid.zoocdn.com/645/430/aa181049abe179b0986e8d9faf1afbe4e7df4be2.jpg\"\n    ],\n    \"floor_plans\": [\"https://lid.zoocdn.com/645/430/88a17dc318feee6ff5ae22f962c03c12c6d876ff.jpg\"]\n  },\n  \"agent\": {\n    \"branch_id\": 58585,\n    \"name\": \"Estates East - Walthamstow\",\n    \"brand_name\": \"Estates East\",\n    \"phone\": \"020 8520 9300\",\n    \"lettings_phone\": \"020 8539 4213\",\n    \"logo\": \"https://st.zoocdn.com/zoopla_static_agent_logo_(778425).png\",\n    \"link\": \"https://www.zoopla.co.uk/find-agents/branch/estates-east-walthamstow-london-58585/\"\n  }\n}\n```\n\n## Get Started with 1,000 Free Calls\n\n1. [Start with **Free Plan**](https://rapidapi.com/Chetan11dev/api/zoopla-scraper/pricing) — 1,000 calls/month, no credit card.\n2. Open [Zoopla Scraper](https://rapidapi.com/Chetan11dev/api/zoopla-scraper), pick an endpoint — params are pre-filled — and click **Test Endpoint**.\n3. Enjoy your data 😎.\n\n## Endpoints\n\n11 endpoints cover everything you need.\n\n| Endpoint | Path | What you get |\n|---|---|---|\n| **Search Properties For Sale** | `/properties/search-sale` | 25 listings/page with price, beds, baths, floor area, photos, agent phone; filter + sort |\n| **Location Autocomplete** | `/locations/auto-complete` | UK place suggestions with the geo slug the search and house-prices endpoints accept |\n| **Search Properties To Rent** | `/properties/search-rent` | Rentals, same filters plus furnished state; rent per month and per week |\n| **Search New Homes** | `/properties/search-new-homes` | New-build listings with the developer as agent |\n| **Get Property Details** | `/properties/details` | Everything about one listing in one call (see above) |\n| **Get Property Agent Contact** | `/properties/agent-contact` | Agent name, phone numbers, branch id and profile link for a listing |\n| **Search Sold House Prices** | `/house-prices/search` | HM Land Registry sold records: address, UPRN, last sale date and price |\n| **Get Property Value Estimate** | `/house-prices/estimate` | Sale estimate with range + confidence, rent estimate, attributes, live listings |\n| **Search Estate Agents** | `/agents/search` | Branches in a location: phone, logo, listing count, average asking price |\n| **Get Estate Agent Details** | `/agents/details` | Full branch profile with coordinates, memberships and statistics |\n| **Get Estate Agent Listings** | `/agents/listings` | A branch's live listings, for sale or to rent |\n\n## Pricing\n\nHigh value, Low price.\n\n| Plan | Price | Calls / month | Per 1,000 |\n|---|---|---|---|\n| **Basic** | **Free** | **1,000** — most generous free plan | $0 |\n| **Pro** | $16/mo | 20,000 | $0.80 |\n| **Ultra** | $48/mo | 100,000 | $0.48 |\n| **Mega** | $148/mo | 400,000 | $0.37 |\n\nNeed the full Zoopla dataset or a bigger plan? Ask on [WhatsApp](https://api.whatsapp.com/send?phone=918178804274&text=I%20need%20a%20custom%20plan%20for%20the%20Zoopla%20Scraper%20API.) or [Email](mailto:happy.to.help@omkar.cloud?subject=Custom%20plan%20for%20Zoopla%20Scraper%20API&body=I%20need%20a%20custom%20plan%20for%20the%20Zoopla%20Scraper%20API.).\n\n👉 [Start with Free Plan](https://rapidapi.com/Chetan11dev/api/zoopla-scraper/pricing) — 1,000 free calls/month\n\n## 💬 Have Questions? We Have Answers.\n\nYou're a developer — we know how hard completing a project can be. So we offer full support: just message us and we'll reply ✅ with a solution within 1 working day.\n\n[![Message Us on WhatsApp about Zoopla Scraper](https://raw.githubusercontent.com/omkarcloud/assets/master/images/whatsapp-us.png)](https://api.whatsapp.com/send?phone=918178804274&text=I%20need%20help%20with%20using%20the%20Zoopla%20Scraper%20API.)\n\n[![Ask Us on Email about Zoopla Scraper](https://raw.githubusercontent.com/omkarcloud/assets/master/images/ask-on-email.png)](mailto:happy.to.help@omkar.cloud?subject=Help%20with%20Zoopla%20Scraper%20API&body=I%20need%20help%20with%20using%20the%20Zoopla%20Scraper%20API.)\n\n👉 [Start with Free Plan](https://rapidapi.com/Chetan11dev/api/zoopla-scraper/pricing) — 1,000 free calls/month\n"
  }
}
